<h3><%= "#{@player.name} has #{@player.money} available to bet." %> <br/>How much would you like to bet on this hand?</h3>
<form action="/bet" method="post">
  <input type="text" name="bet"/>
  <br/>
  <input type="submit" class="btn btn-primary" />
</form>