<h4>Sorry, all players have lost!</h4>
<p>You poor bastards... sell your belongings and play again!</p>

<form action='/' method='get'>
  <input class="btn btn-inverse" type='submit' value='Restart'/>
</form>